body {
    margin: 0;
    font-size: 17px;
    font-family: sans-serif;
    line-height: 25px;
}

.titleImage{
    height: 45vh;
    width: 100vw;
    background: url("https://cdn.pixabay.com/photo/2017/06/06/16/35/cyber-2377718_1280.jpg")
}

.articleContainer{
    width: 60vw;
    margin-top: 40px;
    padding-left: 20vw;
    padding-right: 20vw;
}

.articleTitle{
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
}

.articleImage{
    max-height: 800px;
    max-width: 100%;
}

code{
    font-size: 1.45vw;
    background: rgb(235, 235, 235);
}

b{
    font-size: 22px;
}